.profile_content {
    overflow:visible;
}
.profilaes {
    --cogroupe: var(--textColorAccent);
    display: block;
    container: profilaes / inline-size;
}

.profilaes li br, .profilrps li br {
    display: none;
}

.profilaes li li br, .profilrps li table br {
    display: block!important;
}

.profilaes .ego, .profilrps .ego {
    --cogroupe: var(--group1);
}
.profilaes .savior, .profilrps .savior {
    --cogroupe: var(--group2);
}
.profilaes .messy, .profilrps .messy {
    --cogroupe: var(--group3);
}

/* LIENS */
.profilaes table {font-size: 12px;}

@container profilaes (width > 360px) {
  ul {display:grid;grid-template: auto / 1fr 1fr;gap: 10px;}
  ul ul {display:block!important;}
  ul li:not(:last-of-type) {margin-bottom: 0px;}
}

}

.profilaes h4 {
    margin: 0;
    color: var(--cogroupe);
}

.profilaes ul li:not(:last-of-type) {
    margin-bottom: 10px;
}

.profilaes ul ul li {
    display: flex;
    gap: 10px;
}

.profilaes .charaimg {
    height: fit-content;
    width: fit-content !important;
    overflow: hidden;
    position: relative;
    padding: 4px;
}
.profilaes .charaimg img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.profilaes .charaimg.border {
    border: 1px solid var(--cogroupe);
    border-radius: 5px;
}
.profilaes .charaimg.bw img {
    filter: grayscale(1);
}
.profilaes .charaimg.rond, .profilaes .charaimg.rond img, .profilaes .charaimg.rond.gradient td:after{
    border-radius: 50%;
}
.profilaes .charaimg.gradient td:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    border-radius: 5px;
    background: linear-gradient(315deg, var(--cogroupe), transparent 75%);
    width: calc(100% - 11px);
    height: calc(100% - 11px);
    mix-blend-mode: overlay;
}
.profilaes .charalien {
    text-transform: none;
    text-align: justify;
}

/* RPS */
.profilrps {
   --cogroupe: var(--textColorAccent);
    display: block;
    margin-left: 6px;
    width: calc(100% - 6px)!important;
    font-size: 13px;
}

.profilrps li, .profilsms li {
    width: 375px;
    font-size: 13px!important;
    text-transform: none;
}
.profilrps li:not(:first-of-type), .profilsms li:not(:first-of-type) {padding-top: 5px;}
.profilrps li:not(:last-of-type), .profilsms li:not(:last-of-type) {
    border-bottom: 1px solid var(--bw5);padding-bottom: 5px;
}

.profilrps table {font-size: 13px;position: relative;}
.profilrps table h3 {
    display: inline;
    background: var(--transp8);
    padding: 3px 5px;
}
.profilrps table h4 {
    display: inline;
    font-family: var(--font1);
    text-transform: uppercase;
    font-size: 12px;
}


.profilrps table font[face="Inter"] {color:var(--cogroupe);}

.profilrps table td:before {
    content: '';
    font-family: 'cappuccicons';
    font-size: 10px;
    padding-right: 5px;
}

.profilrps .encours td:before {
    content: '\ebde';
    color: var(--couleur1);
}
.profilrps .fini {
    opacity: 0.7;
}
.profilrps .fini td:before {
    content: '\eb69';
    color: var(--couleur2);
}
.profilrps .fini h4 a:hover {color:var(--couleur2);}

.profilrps table blockquote {
    margin: 0;
    background: var(--transp8);
    border: 1px solid var(--bw3);
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    display: none;
    text-align:justify;
    font-size: 11px;
}

.profilrps table h3:hover + blockquote {
    display: block;
    height: fit-content;
    padding: 5px 0;
}

/* SMS */
.profilsms {
    display: block;
    margin-left: 10px;
    width: calc(100% - 10px)!important;
}
.profilsms li a {font-size:0;}
.profilsms li a:before {
    content: '\e9d5';
    font-family: 'cappuccicons';
    font-size: 10px;
    padding-right: 5px;
    color:var(--textColorAccent);
}
.profilsms li a:hover:before {
    transition: 300ms;
    color: var(--couleur1);
}

/* CODE MSG EXPLICATION LIENS:

<center><h2>codes de profils  :smalh: </h2><datum>credit</datum> <b>.unravel / myr</b> pour <u5>blinding lights</u5>


<div style="text-align:left; margin: 0 40px;">ok, accrochez-vous à vos tuques les amis parce que ça sera un long pavé !
si vous avez du mal à avoir le rendu que vous voulez, vous pouvez toujours me mp ou me dm sur discord  :heartt: 

le <t4>code de base</t4> :
[table class="profilaes"][td][list][*][list][*][table class="charaimg"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[*][list][*][table class="charaimg"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][code][table class="profilaes"][td][list][*][list][*][table class="charaimg"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[*][list][*][table class="charaimg"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][/code]

chaque ligne qui commence par <t1>[ *][ list][ *]</t1> et se termine par <t1>[ /td][ /table][ /list]</t1> représente un nouveau bloc de lien. pour chacun des blocs, il est possible d'ajouter des options de personnalisation !

pour l'<u5>image</u5>, il faut rajouter le nom des options à la suite de <t1>[ table class="charaimg</t1>. vous pouvez ajouter autant d'options que désirez pour avoir le look voulu !


<t4>image en noir et blanc</t4> <t1>[ table class="charaimg [b]bw[/b]"]</t1>
[table class="profilaes"][td][list][*][list][*][table class="charaimg bw"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][code][table class="profilaes"][td][list][*][list][*][table class="charaimg bw"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][/code]


<t4>un contour coloré</t4> <t1>[ table class="charaimg [b]border[/b]"]</t1>
[table class="profilaes"][td][list][*][list][*][table class="charaimg border"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][code][table class="profilaes"][td][list][*][list][*][table class="charaimg border"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][/code]


<t4>une image ronde</t4> <t1>[ table class="charaimg [b]rond[/b]"]</t1>
[table class="profilaes"][td][list][*][list][*][table class="charaimg rond"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][code][table class="profilaes"][td][list][*][list][*][table class="charaimg rond"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][/code]


<t4>un dégradé coloré sur l'image</t4> <t1>[ table class="charaimg [b]gradient[/b]"]</t1>. sans indication du groupe, la couleur s'adapte automatiquement aux couleurs du design !
[table class="profilaes"][td][list][*][list][*][table class="charaimg gradient"][td][img]https://64.media.tumblr.com/d1491220b75b54320da8e94ff771b387/29f4223b7fa9b334-b2/s1280x1920/f002c7c35d933b4fc3c73e6a453b271b14b8024b.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][code][table class="profilaes"][td][list][*][list][*][table class="charaimg gradient"][td][img]https://64.media.tumblr.com/d1491220b75b54320da8e94ff771b387/29f4223b7fa9b334-b2/s1280x1920/f002c7c35d933b4fc3c73e6a453b271b14b8024b.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][/code]

<t4>couleur de groupe en dégradé</t4> <t1>[ table class="charaimg [b]gradient ego[/b]"]</t1>
simplement utiliser le nom du groupe <t1>ego</t1>, <t1>savior</t1> ou <t1>messy</t1>
[table class="profilaes"][td][list][*][list][*][table class="charaimg gradient ego"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][code][table class="profilaes"][td][list][*][list][*][table class="charaimg gradient ego"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][/code]


pour la partie <u5>texte</u5>, il n'y a que l'option des couleurs de groupe qui fonctionne pour le nom du personnage. il suffit d'ajouter le nom du group à la suite de <t1>charalien</t1>.
[table class="profilaes"][td][list][*][list][*][table class="charaimg"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien ego"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][code][table class="profilaes"][td][list][*][list][*][table class="charaimg"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien ego"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][/code]



<t4>exemple avec plusieurs options mélangées</t4>

[table class="profilaes"][td][list][*][list][*][table class="charaimg bw rond border gradient ego"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien ego"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[*][list][*][table class="charaimg gradient messy"][td][img]https://64.media.tumblr.com/d1491220b75b54320da8e94ff771b387/29f4223b7fa9b334-b2/s1280x1920/f002c7c35d933b4fc3c73e6a453b271b14b8024b.gif[/img][/td][/table][table class="charalien messy"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[*][list][*][table class="charaimg rond bw"][td][img]https://64.media.tumblr.com/ab55500c3aca4f11f24704f77b2eb46f/ad20930f954594fd-89/s1280x1920/5bc0ee206baab8cddfe3babc5b2dbc79e5e473d1.gifv[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][code][table class="profilaes"][td][list][*][list][*][table class="charaimg bw rond border gradient ego"][td][img]https://i.imgur.com/AlVCFeL.gif[/img][/td][/table][table class="charalien ego"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[*][list][*][table class="charaimg gradient messy"][td][img]https://64.media.tumblr.com/d1491220b75b54320da8e94ff771b387/29f4223b7fa9b334-b2/s1280x1920/f002c7c35d933b4fc3c73e6a453b271b14b8024b.gif[/img][/td][/table][table class="charalien messy"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[*][list][*][table class="charaimg rond bw"][td][img]https://64.media.tumblr.com/ab55500c3aca4f11f24704f77b2eb46f/ad20930f954594fd-89/s1280x1920/5bc0ee206baab8cddfe3babc5b2dbc79e5e473d1.gifv[/img][/td][/table][table class="charalien"][td][h4][font=Inter]NOM PERSO[/font][/h4][font=Anonymous Pro]LIEN, RÉSUMÉ[/font]
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.[/td][/table][/list]
[/list][/td][/table][/code]</div>

</center>*/

/* CODE MSG EXPLICATION LIENS & SMS

<center><h2>codes de profils pt2  :smalh: </h2><datum>credit</datum> <b>.unravel / myr</b> pour <u5>blinding lights</u5>


<div style="text-align:left; margin: 0 40px;">comme d'hab, si vous avez du mal à avoir le rendu que vous voulez, vous pouvez toujours me mp ou me dm sur discord  :heartt: 

les <t4>rps</t4> :
comme pour les liens, chaque ligne commence par <t1>[ *][ table class="]</t1> et se termine par <t1>[ /td][ /table]</t1>. vous pouvez ajouter la class <t1>encours</t1> pour les rps qui sont d'actualité et <t1>fini</t1> pour ceux qui sont archivé !

vous pouvez ajouter le nom du groupe à la suite de <t1>encours</t1> ou <t1>fini</t1> pour que son nom prenne sa couleur. par contre, ça ne s'applique pas quand il y a plusieurs personnages de groupes différents dans le même rp !

il y a également la partie <t1>tw</t1> que vous pouvez retirer en enlevant tout ce qui est entre <t1>[ h3]</t1> et <t1>[ quote]</t1>.

[table class="profilrps"][td][list][*][table class="encours"][td][h4][url=https://blindinglights.forumactif.com/]titre[/url][/h4] with [font=Inter]perso[/font].[h3]tw[/h3][quote]liste des triggers dans le rp.[/quote][/td][/table]
[*][table class="fini"][td][h4][url=https://blindinglights.forumactif.com/]titre[/url][/h4], [font=Inter]perso[/font].[/td][/table][/list][/td][/table]

[code][table class="profilrps"][td][list][*][table class="encours"][td][h4][url=https://blindinglights.forumactif.com/]titre[/url][/h4] with [font=Inter]perso[/font].[h3]tw[/h3][quote]liste des triggers dans le rp.[/quote][/td][/table]
[*][table class="fini"][td][h4][url=https://blindinglights.forumactif.com/]titre[/url][/h4], [font=Inter]perso[/font].[/td][/table][/list][/td][/table][/code]



les <t4>sms</t4> :
c'est tout simple : chaque ligne débute par <t1>[ *]</t1>. pour chaque ligne ajoutée, assurez-vous qu'il n'y a pas de <t1>[ /list]</t1> à la suite, à l'exception du dernier lien de la liste !

[table class="profilsms"][td][list][*][url=https://blindinglights.forumactif.com/].[/url] nom, nom.
[*][url=https://blindinglights.forumactif.com/].[/url] nom, nom.[/list][/td][/table]

[code][table class="profilsms"][td][list][*][url=https://blindinglights.forumactif.com/].[/url] nom, nom.
[*][url=https://blindinglights.forumactif.com/].[/url] nom, nom.[/list][/td][/table][/code]
</div>

</center>
*/
