@charset "utf-8";
/* CSS Document */
:root {
    --color-text: rgba(255, 255, 255, 0.87);
    --cblack: #010203;
	--cwhite: #fff;
    --color-accent: rgba(77,47,43,1);
	--color-accent2: rgba(196,132,73,1);
    --color-accentgray: #E3E4E6;
    --color-pill: #ffffff;
    --gap-size: 16px;
    --ease: cubic-bezier(0.4, 0.0, 0.2, 1);
    --ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
	--color-bg: #F5F5F5;
	--gradientc1: rgba(34,193,195,1);
	--gradientc2: rgba(253,187,45,1);
	--gradient-1: var(--color-accent) 0%, var(--color-accent2) 100%;
}

/*background container*/
.myr-bod {
	background: linear-gradient(45deg, var(--gradient-1));
	margin:0 auto;
	width: 400px;
	padding: 2px;
	border: 10px solid var(--color-bg);
}
.myr-inner- {
	background: var(--color-bg); 
	padding: 10px;
	font-family: 'Poppins';
	font-size: 12px;
	color:var(--cblack);
}

.myr-h1 {
	text-shadow: 0 0 5px var(--cwhite); 
	font-family: 'montserrat';
	font-weight: 800;
	background: var(--color-accent); 
	padding: 2px 10px; 
	font-size: 10px; 
	text-transform: uppercase;
	border: 1px solid var(--cwhite);
}

.

.halfside { 
	width: 90px; height: 60px; 
	background: var(--color-accentgray); border-bottom-right-radius: 100px; border-top-right-radius: 100px; 
	display: inline-flex;
}
.myr-title-accent {
	font-size: 40px; font-weight:bold; 
	background: -webkit-linear-gradient(45deg, var(--gradient-1)); 
	-webkit-background-clip: text; -webkit-text-fill-color: transparent; 
	position: relative; top:10px; left: 25px;
}

.myr-img-side {width: 140px; flex-wrap: wrap;}
.myr-ava- {
	width: 140px; 
	height: 70px; 
	object-fit: cover;
	border: 2px solid var(--cwhite);
	margin-bottom: 2px
}
.myr-ava-side {
	
	overflow:auto; 
	border:2px solid var(--cwhite);
	background: var(--cwhite);
	padding: 6px; 
	text-align: justify; 
	font-size:10px;
	color:(--cblack);
}
