@font-face {
    font-family: 'uploaded_fileuploaded_file';
    src: url('ae575ad4391fc0163a964527ef2f77ad-webfont.woff2') format('woff2'),
         url('ae575ad4391fc0163a964527ef2f77ad-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
